.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.data-header{
  color: red;
  
}

.component {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 16px;
}

.component-header, .subcategory-header {
  padding: 10px;
  background-color: #f4f4f4;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.component-header:focus, .subcategory-header:focus{
  border-radius: 16px 16px 0 0;
}

.component-header:hover, .subcategory-header:hover {
  background-color: #1c448e;
  color:white
}

.component-subcategories {
  padding: 10px;
  border-radius: 16px;
}

.subcategory {
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  border-radius: 16px;
}

.subcategory-content {
  padding: 10px;
}

.emp-id-input {
  width: 97.3%;
  padding: 8px;
  margin-bottom: 10px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.component-questions h3 {
  margin-bottom: 15px;
  text-align: center;
}

.subcomponent {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
}

.radio-group input {
  margin-right: 5px;
}